<body>
  <div class="overlay"></div>
  <div id="loading_screen"  data-backdrop="static" class="loader text-center">
    <div class="loader-inner">

        <!-- Animated Spinner -->
        <!-- <div class="lds-roller mb-3">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div> -->
        <img src="https://1.bp.blogspot.com/-IHLdxU6d0kk/X1hn9w6ZUpI/AAAAAAAACfo/w2KXzD_5dxUuJMbN9tLdHMvbLXePc9d5QCLcBGAsYHQ/s500/giphy.gif">
       
    </div>
</div>


  <div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="index.html"><img src="/assets/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="/assets/images/logo-mini.svg" alt="logo" /></a>
      </div>
      <ul class="nav">
        <li class="nav-item profile">
          <div class="profile-desc">
            <div class="profile-pic">
              <div class="count-indicator">
                <img class="img-xs rounded-circle " src="/assets/images/faces/face15.jpg" alt="">
                <span class="count bg-success"></span>
              </div>
              <div class="profile-name">
                <h5 class="mb-0 font-weight-normal name_admin"></h5>
                <span class="name_group"></span>
              </div>
            </div>
            <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
            <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-settings text-primary"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-onepassword  text-info"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-calendar-today text-success"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item nav-category">
          <span class="nav-link">Tìm kiến</span>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#findAll" aria-expanded="false" aria-controls="findAll">
            <span class="menu-icon">
              <i class="mdi mdi-speedometer"></i>
            </span>
            <span class="menu-title">Tìm kiếm</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="findAll">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Tìm kiếm sản phẩm</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Lọc sản phẩm</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Tìm kiếm khách hàng</a></li>
            </ul>
          </div>
        </li>
        <!-- ----------------------------Nghiệp vụ--------------------- -->
        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <span class="menu-icon">
              <i class="mdi mdi-laptop"></i>
            </span>
            <span class="menu-title">Nghiệp vụ</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="/import-product-from-supplier/add">Nhập hàng từ nhà cung cấp</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Nhập hàng khách trả lại</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Nhập hàng tồn đầu kì</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Xuất hàng để bán</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Xuất hàng chờ thanh toán</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Xuất hàng trả lại nhà cung cấp</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Đơn hàng nội bộ</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Phiếu thu</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Phiếu chi</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Mượn kho</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Đơn bảo hành</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Đơn hàng web</a></li>
            </ul>
          </div>
        </li>
        <!-- ------------------------------------------------ -->
        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#report" aria-expanded="false" aria-controls="report">
            <span class="menu-icon">
              <i class="mdi mdi-laptop"></i>
            </span>
            <span class="menu-title">Báo cáo thống kê</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="report">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="/timekeeping-work-management">Chấm công đi làm</a></li>
              <li class="nav-item"> <a class="nav-link" href="/timekeeping-schedule-management">Chấm công trực</a></li>
              <li class="nav-item"> <a class="nav-link" href="/calendar-management">Lịch trực</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Hàng hóa bán theo ngày</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Tồn kho</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Công nợ khách hàng</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Lợi nhuận theo sản phẩm</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Tình hình thu chi</a></li>
              <li class="nav-item"> <a class="nav-link" href="/fundbook-management">Sổ quỹ</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#system" aria-expanded="false" aria-controls="system">
            <span class="menu-icon">
              <i class="mdi mdi-laptop"></i>
            </span>
            <span class="menu-title">Quản lý hệ thống</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="system">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="/category-management">Quản lý danh mục</a></li>
              <li class="nav-item"> <a class="nav-link" href="/product-management">Quản lý sản phẩm</a></li>
              <li class="nav-item"> <a class="nav-link" href="/warehouse-management">Quản lý kho</a></li>
              <li class="nav-item"> <a class="nav-link" href="/branch-management">Quản lý chi nhánh</a></li>
              <li class="nav-item"> <a class="nav-link" href="/employee-management">Quản lý nhân viên</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Bút toán thu chi</a></li>
              <li class="nav-item"> <a class="nav-link" href="/asset-management">Tài sản cố định</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Quản lý tích điểm</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Tạo mã giảm giá</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Danh sách khách hàng</a></li>
              <li class="nav-item"> <a class="nav-link" href="/permission-management">Phân quyền</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#content" aria-expanded="false" aria-controls="system">
            <span class="menu-icon">
              <i class="mdi mdi-laptop"></i>
            </span>
            <span class="menu-title">Quản lý contents</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="content">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="/subcategory-contents-management">Quản lý bài viết sản phẩm</a></li>
              <li class="nav-item"> <a class="nav-link" href="/promotion-combo-management">Quản lý combo khuyến mãi</a></li>
              <li class="nav-item"> <a class="nav-link" href="/warranty-combo-management">Quản lý combo bảo hành</a></li>
              <li class="nav-item"> <a class="nav-link" href="/flash-sale-management">Flash sale</a></li>
              <li class="nav-item"> <a class="nav-link" href="/library-image-management">Danh mục ảnh</a></li>
              <li class="nav-item"> <a class="nav-link" href="/menu-management">Quản lý menu</a></li>
              
            </ul>
          </div>
        </li>
        <!-- <li class="nav-item menu-items">
          <a class="nav-link" href="pages/forms/basic_elements.html">
            <span class="menu-icon">
              <i class="mdi mdi-playlist-play"></i>
            </span>
            <span class="menu-title">Form Elements</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="pages/tables/basic-table.html">
            <span class="menu-icon">
              <i class="mdi mdi-table-large"></i>
            </span>
            <span class="menu-title">Tables</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="pages/charts/chartjs.html">
            <span class="menu-icon">
              <i class="mdi mdi-chart-bar"></i>
            </span>
            <span class="menu-title">Charts</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="pages/icons/mdi.html">
            <span class="menu-icon">
              <i class="mdi mdi-contacts"></i>
            </span>
            <span class="menu-title">Icons</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
            <span class="menu-icon">
              <i class="mdi mdi-security"></i>
            </span>
            <span class="menu-title">User Pages</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="http://www.bootstrapdash.com/demo/corona-free/jquery/documentation/documentation.html">
            <span class="menu-icon">
              <i class="mdi mdi-file-document-box"></i>
            </span>
            <span class="menu-title">Documentation</span>
          </a>
        </li> -->
      </ul>
    </nav>