<div class="vertical-menu">

  <div data-simplebar class="h-100">

      <!--- Sidemenu -->
      <div id="sidebar-menu">
          <!-- Left Menu Start -->
          <ul class="metismenu list-unstyled" id="side-menu">
              <li class="menu-title">Tìm kiếm</li>


         
              <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                      <i class="mdi mdi-email-outline"></i>
                      <span> Tìm kiếm </span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                      <li><a >Tìm kiếm sản phẩm</a></li>
                      <li><a >Lịch sử khách hàng</a></li>
                      <li><a>Lọc sản phẩm</a></li>
                  </ul>
              </li>
              <li class="menu-title">Nghiệp vụ</li>

              <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                      <i class="mdi mdi-buffer"></i>
                      <span>Nghiệp vụ </span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                      <li><a href="/import-product-from-supplier/add">Nhập hàng từ nhà cung cấp</a></li>
                      <li><a href="/import-product-from-return/add">Nhập hàng khách trả lại</a></li>
                      <li><a href="/import-product-from-period/add">Nhập hàng tồn đầu kỳ</a></li>
                      <li><a href="/export-product">Xuất hàng để bán</a></li>
                      <li><a >Xuất hả chờ thanh toán</a></li>
                      <li><a >Xuất hàng trả lại nhà cung cấp</a></li>
                      <li><a >Đơn hàng nội bộ</a></li>
                      <li><a >Phiếu thu</a></li>
                      <li><a >Phiếu chi</a></li>
                      <li><a >Mượn kho</a></li>
                      <li><a >Đơn bảo hành</a></li>
                      <li><a >Đơn hàng từ web</a></li>
                  </ul>
              </li>
             
              <li class="menu-title">Báo cáo</li>
              <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                      <i class="mdi mdi-movie-filter-outline"></i>
                      <span>Báo cáo thống kê</span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">                   
                    <li><a href="/timekeeping-work-management">Chấm công đi làm</a></li>
                    <li><a href="/timekeeping-schedule-management">Chấm công trực</a></li>
                    <li><a href="/calendar-management">Lịch trực</a></li>
                    <li><a >Hàng bán theo ngày</a></li>
                    <li><a >Tồn kho</a></li>
                    <li><a >Công nợ khách hàng</a></li>
                    <li><a >Lợi nhuận theo sản phẩm</a></li>
                    <li><a >Tình hình thu chi</a></li>
                    <li><a href="/fundbook-management">Sổ quỹ</a></li>
                
                  </ul>
              </li>
              <li class="menu-title">Hệ thống</li>
              <li>
                <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="mdi mdi-movie-filter-outline"></i>
                    <span>Quản lý hệ thống</span>
                </a>
                <ul class="sub-menu" aria-expanded="false">
                    <li><a href="/category-management">Quản lý danh mục</a></li>
                    <li><a href="/product-management">Quản lý sản phẩm</a></li>
                    <li><a href="/warehouse-management">Quản lý kho</a></li>
                    <li><a href="/branch-management">Quản lý chi nhánh</a></li>
                    <li><a href="/employee-management">Quản lý nhân viên</a></li>
                    <li><a href="/accouting-entry-management">Bút toán thu chi</a></li>
                    <li><a href="/asset-management">Tài sản cố định</a></li>
                    <li><a >Quản lý tích điểm</a></li>
                    <li><a >Tạo mã giảm giá</a></li>
                    <li><a href="/user-management">Danh sách khách hàng</a></li>
                    <li><a href="/permission-management">Phân quyền</a></li>
                </ul>
            </li>
            <li class="menu-title">Contents</li>
              <li>
                <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="mdi mdi-movie-filter-outline"></i>
                    <span>Quản lý nội dung</span>
                </a>
                <ul class="sub-menu" aria-expanded="false">
                    <li><a href="/subcategory-contents-management">Quản lý bài viết sản phẩm</a></li>
                    <li><a href="/promotion-combo-management">Quản lý combo khuyến mãi</a></li>
                    <li><a href="/warranty-combo-management">Quản lý combo bảo hành</a></li>
                    <li><a href="/flash-sale-management">Quản lý flash sale</a></li>
                    <li><a href="/menu-management">Quản lý menu</a></li>
                   
                </ul>
            </li>
          </ul>
      </div>
      <!-- Sidebar -->
  </div>
</div>
<div class="main-content">