<!DOCTYPE html>


<html lang="en">

<head>
  <link rel="stylesheet" href="/css/menu.css">
  <%- include("../../header",{title:"Quản lý content | Menu hiển thị"}) %>

        <div class="page-content">
            <div class="header-table">
               
            </div>
            <div class="container-fluid">
                <div class="div-table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                              <th>STT</th>
                              <th>Tên menu</th>
                              <th>Chi tiết</th>
                              </tr>
                            </tr>
                        </thead>
                        <tbody id="tbodyTable"></tbody>
                    </table>
                </div>
                <div id="divPagination"></div>
            </div>
        </div>
        <!-- POPUP ====================================-->
<!-- Popup thêm mới -->
<div id="menuBuildCaseApp" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog model-70" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Danh mục build case</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-8 col-md-8 relative">
                <label>Tên danh mục</label>
                <input placeholder="Nhập tên danh mục" id="inputFindCategory" class="form-control">
                <!-- <i onclick="addCategory()" class="mdi mdi-plus-circle text-success absulate"></i> -->
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                <div id="div_category" class="div-category" ></div>
            </div>
            <div class="col-12 col-md-12 div-list-content"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnSaveMenuCategory" class="btn btn-primary">Lưu chỉnh sửa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<!-- Popup -->

<div id="menuSuperCategoryWebsite" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog model-70" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Danh mục build case</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-8 col-md-8 relative">
                  <label>Tên danh mục lớn</label>
                  <input placeholder="Nhập tên danh mục lớn" id="inputFindSuperCategory" class="form-control">
                  <!-- <i onclick="addCategory()" class="mdi mdi-plus-circle text-success absulate"></i> -->
                  <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  <div id="div_super_category" class="div-super_category" ></div>
              </div>
              <div class="col-12 col-md-12 div-list-content"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="btnSaveMenuSuperCategory" class="btn btn-primary">Lưu chỉnh sửa</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        </div>
      </div>
    </div>
  </div>

        <!-- ====================================== -->
        <%- include('../../footer') %>

        <script src="/js/ContentsManagement/Menu/index.js"></script>

            </body>

</html>